* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-box-sizing: border-box;/* Firefox 1-3.6 */
     box-sizing: border-box;/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body,
html {
    height: 100%;
    margin: 0 auto;
}

@font-face {
        font-family: 'league-gothic.regular';
        src: url(../fonts/league-gothic.regular.ttf);
}


.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.wrapper {
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    min-width: 960px;
}

.first {
    display: table-row;
    height: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}

.one {
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center top;
     background-size: cover;
        -webkit- background-size: cover;/* для Safari и Chrome */
        -moz-background-size: cover;/* для Firefox 3.5+ */
        -o-background-size: cover;/* работает в Opera 10.5+ */
         background-size: cover;
    background-size: cover;
}

.headerwrap {
    padding-top: 65px;
    padding-bottom: 170px;
}

.logo {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    color: white;
    font-size: 48px;
    letter-spacing: 1px;
    text-decoration: none;
}

.logo span {
    background: -moz-linear-gradient(top, #745083 0%, #33263a 100%);/* Firefox 1-3.6 */
    background: -webkit-linear-gradient(top, #745083 0%, #33263a 100%);/* работает в Safari 3.1+, Chrome 1+ */
    background: -o-linear-gradient(top, #745083 0%, #33263a 100%);/* работает в Opera 10.5+ */
    background: -ms-linear-gradient(top, #745083 0%, #33263a 100%);/* IE 8*/
    background-image: -linear-gradient(top, #745083 0%, #33263a 100%);
    -webkit-background-clip: text;
     color: transparent;
}

.logo:hover {
    cursor: pointer;
          -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;/* работает в Opera 10.5+ */
        -moz-transition: 0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;
   

         filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE 8*/
        -moz-opacity: 0.7;/* Mozilla 1.6 */
        -khtml-opacity: 0.7;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.7;
}

.topnav {
    float: right;
    margin-top: 9px;
}

.topnav li {
    list-style: none;
    float: left;
}

.topnav li a {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    color: white;
    margin: 0px 24px;
    border-bottom: 3px solid transparent;
}

.wrap_topnav_mobile {
    display: none;
}

.topnav_mobile {
    display: none;
}

.topnav_mobilefirst {
    display: none;
}

.topnav a:hover {
    border-bottom: 3px solid #edbfff;
    cursor: pointer;
}

.home_mobilefirst {
    display: none;
}

.sliderswrap {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 200px;
}

.sliders {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.sliders_info {
    width: 410px;
    float: left;
    margin-top: 6%;
}

.sliders_info_title {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    color: white;
    font-size: 48px;
}

.sliders_info_title1 {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    color: #edbfff;
    font-size: 30px;
    display: block;
}

.sliders_info_title_tablet {
    display: none;
}

.sliders_info_text {
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
}

.sliders_info_text_tablet {
    display: none;
}

.sliders_photo {
    margin-top: -15px;
    padding: 0px 130px 0px 0px;
    float: right;
}

.two {
    background: -moz-linear-gradient(top, #724F81 0%, #34263b 100%);/* Firefox 1-3.6 */
    background: -webkit-linear-gradient(top, #724F81 0%, #34263b 100%);/* работает в Safari 3.1+, Chrome 1+ */
    background: -o-linear-gradient(top, #724F81 0%, #34263b 100%);/* работает в Opera 10.5+ */
    background: -ms-linear-gradient(top, #724F81 0%, #34263b 100%);/* IE 8*/
    background-image: -webkit-linear-gradient(top, #724F81 0%, #34263b 100%);
}

.moreinfo {
    float: left;
    width: 29%;
    margin: 40px 10px;
    position: relative;
}

.more_info_img {
    position: absolute;
    margin-top: 10px;
    height: 25px;
    width: 24px;
    display: block;
}

.key {
    background: url(../img/detail.png) 0 0 no-repeat;
}

.more_info_img_key_tablet {
    display: none;
}

.sms {
    width: 28px;
    background: url(../img/sms.png) 0 0 no-repeat;
}

.music {
    background: url(../img/music.png) 0 0 no-repeat;
}

.more_info_title {
    color: white;
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 28px;
    padding-left: 35px;
}

.more_info_text {
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    padding-left: 35px;
}

.more_info_link {
    color: white;
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 18px;
    float: right;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

.more_info_link:hover {
    text-shadow: 2px 2px 5px #FFFFFF;
}

.img {
    height: 25px;
}

.container_sliders {
    background-color: rgba(0, 0, 0, 0.2);
}

.three {
    border-bottom: 1px solid #e6e6e6;
    background-color: #f9f9f9;
}

.discription {
    float: left;
    width: 48%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 2%;
    padding: 20px;
    position: relative;
    background-color: #fff;
}

.discription_img {
    display: block;
    position: absolute;
    margin: -5px -40px;
}

.discription_title {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 28px;
    color: #454545;
    letter-spacing: 1px;
}

.discription_text {
    font-family: "Open-Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    padding-left: 25px;
    color: #454545;
}

.discription_text_tablet {
    display: none;
}

.discription_text_mobilefirst {
    display: none;
}

.code {
    padding-left: 25px;
}


.five a:hover {
         filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";/* IE 8*/
        -moz-opacity: 0.2;/* Mozilla 1.6 */
        -khtml-opacity: 0.2;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.2;
}

.color {
    color: #edbfff;
}

.center {
    float: left;
    width: 48%;
    margin-top: 13%;
    margin-bottom: 10%;
    margin-left: 2%;
}

.center a {
    display: block;
    text-decoration: none;
}

.center_title:hover {
        -webkit-transition: 0.3s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition: 0.3s all;/* работает в Opera 10.5+ */
        -moz-transition: 0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;
        

        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8*/
        -moz-opacity: 0.3;/* Mozilla 1.6 */
        -khtml-opacity: 0.3;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.3;
}

.center_title_main {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 35px;
    color: #454545;
}

.center img {
    display: block;
    position: absolute;
    margin: 0px 0px;
}

.center_title {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    color: #454545;
    font-size: 20px;
    padding-left: 65px;
}

.center_title_mobilefirst {
    display: none;
}

.center_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    padding-left: 65px;
    color: #454545;
}

.center_text_tablet {
    display: none;
}

.center_text_mobilefirst {
    display: none;
}

a.center_read {
    font-family: 'league-gothic.regular', sans-serif;
    text-align: right;
    padding-top: 10px;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: #454545;
}

.center_read:hover {
        -webkit-transition: 0.3s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition: 0.3s all;/* работает в Opera 10.5+ */
        -moz-transition: 0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;
         
         filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8*/
        -moz-opacity: 0.3;/* Mozilla 1.6 */
        -khtml-opacity: 0.3;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.3;
}

a.center_read_tablet {
    display: none;
}

.center_word {
    margin: 10px 0px;
}

.five {
    background-color: #f9f9f9;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    padding: 25px 0;
}

.five img  {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 75px;
}

.six {
    background-color: #ececec;
    border-top: 1px solid #e6e6e6;
}

.newswrap {
    padding: 10% 0px;
}

.news {
    float: left;
    width: 31%;
    margin-left: 2%;
}

.news_categories {
    float: left;
    width: 31%;
    margin-left: 2%;
}

.news_categories_tablet {
    display: none;
}

.news_title_first {
    font-size: 50px;
    font-family: 'league-gothic.regular', Arial, sans-serif;
    color: #454545;
}

.news_title {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 30px;
    display: block;
    color: #454545;
    padding-bottom: 5px;
}

.news_copyright {
    display: block;
    font-family: Georgia;
    font-style: italic;
    font-size: 15px;
    color: #c8c8c8;
    padding-bottom: 5px;
    text-shadow: 0px 1px 0px white;
}

.news_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #787878;
}

.color_pingb {
    color: #b9b9b9;
}

footer {
    overflow: hidden;
    height: 100%;
    background: url(../img/footer.jpg) 0 0 no-repeat;
         background-size: cover;
        -webkit- background-size: cover;/* для Safari и Chrome */
        -moz-background-size: cover;/* для Firefox 3.5+ */
        -o-background-size: cover;/* работает в Opera 10.5+ */
         background-size: cover;
}

.footerwrapp {
    padding: 20px 0 80px;
}

footer li {
    float: left;
    list-style: none;
}

footer a {
    font-family: 'league-gothic.regular', Arial, sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
    color: white;
    display: inline-block;
    padding: 0px 13px;
        -webkit-transition: 0.5s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition:0.5s all;/* работает в Opera 10.5+ */
        -moz-transition:0.5s all;/* планируется для Firefox 4.0+ */      
         transition: 0.5s all;
}

footer a:hover {
        -webkit-transition: 0.3s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition:0.3s all;/* работает в Opera 10.5+ */
        -moz-transition:0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;

         filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8*/
        -moz-opacity:0.3;/* Mozilla 1.6 */
        -khtml-opacity:0.3;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.3;
}

.footer_designed {
        float: right;
}

.footer_designed:hover {
        -webkit-transition: 0.3s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition:0.3s all;/* работает в Opera 10.5+ */
        -moz-transition:0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;

         filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8*/
        -moz-opacity:0.3;/* Mozilla 1.6 */
        -khtml-opacity:0.3;/* Konqueror 3.1, Safari 1.1 */
         opacity: 0.3;
}

.end {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    color: white;
}

.by {
    font-weight: bold;
}

@media (max-width: 960px) {

.wrapper {
        min-width: 788px;
    }

.container {
        width: 768px;
        padding: 0 10px;
    }

header {
        margin-bottom: 70px;
    }

.topnav {
        padding-bottom: 10px;
    }

.topnav {
        float: none;
    }

.logo {
        float: none;
        text-decoration: none;
    }

.topnav li a {
        margin: 0 43px 10px 0;
    }

.sliders_info {
        width: 280px;
        float: left;
        margin-top: 70px;
    }

.sliders_info_title {
        font-size: 40px;
    }

.sliders_info_title1 {
        display: none;
    }

.sliders_info_title_tablet {
        font-family: 'league-gothic.regular', Arial, sans-serif;
        color: #edbfff;
        font-size: 23px;
        display: block;
    }

.sliders_info_text {
        display: none;
    }

.sliders_info_text_tablet {
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 15px;
    }

.sliders_photo {
        padding: 0px 95px 0px 0px;
    }

.center_text {
        display: none;
    }

.center_text_tablet {
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        padding-left: 65px;
        color: #454545;
    }

.discription_text {
        display: none;
    }

.discription_text_tablet {
        display: block;
        font-size: 20px;
        padding-left: 25px;
        color: #454545;
    }

.discription_title {
        display: block;
    }

.margleft_tablet {
        margin-left: 22px;
    }

.center_read a {
        display: none;
    }

.center_read_tablet a {
        display: block;
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
        float: right;
        text-decoration: none;
        color: #454545;
    }

.center_read_tablet:hover {
        -webkit-transition: 0.3s all;/* работает в Safari 3.1+, Chrome 1+ */
        -o-transition: 0.3s all;/* работает в Opera 10.5+ */
        -moz-transition: 0.3s all;/* планируется для Firefox 4.0+ */      
         transition: 0.3s all;

        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5-7*/
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8*/
        -moz-opacity:0.3;/* Mozilla 1.6 */
        -khtml-opacity:0.3;/* Konqueror 3.1, Safari 1.1 */
         opacity:0.3/*  Safari 2.0+ , Chrome, Firefox Opera, */
    }

.news {
        display: none;
    }

.news_categories_tablet {
        float: left;
        width: 31%;
        margin-left: 2%;
        display: block;
    }

footer {
        padding-bottom: 20px;
    }

.footer_designed {
        margin-top: 50px;
    }

.sms {
        display: none;
    }

.music {
        display: none;
    }

    
.more_info_img_key_tablet {
        position: absolute;
        margin-top: 10px;
        height: 25px;
        width: 24px;
        display: block;
        background: url(../img/detail.png) 0 0 no-repeat;
    }

.five img  {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 788px) {

.wrapper {
        min-width: 500px;
    }

.container {
        width: 480px;
        padding: 0 10px;
    }

.one {
        position: relative;
    }

.logo {
        display: block;
        float: none;
        text-align: center;
        font-size: 45px;
    }

.topnav {
        display: none;
    }

p.sliders_info_text_tablet {
        display: none;
    }

span.sliders_info_title_tablet {
        font-size: 20px;
    }

img.sliders_photo {
        width: 200px;
        padding: 0;
        margin-top: -150px;
    }

.two {
        padding: 20px 0;
    }

.moreinfo {
        float: none;
        width: auto;
        margin-bottom: 25px;
    }

.three {
        padding: 50px 0;
    }

.discription {
        float: none;
        width: 100%;
        margin-bottom: 65px;
    }

.center {
        float: none;
        width: 345px;
        margin: 0 auto;
    }

.news_categories {
        float: none;
        width: auto;
        margin: 0;
        margin-bottom: 50px;
    }

.news_categories_tablet {
        float: none;
        width: auto;
        margin: 0;
        margin-bottom: 50px;
    }

footer a {
        padding: 0 0 0 17px;
    }

    
.footer_designed {
        display: block;
        text-align: center;
        float: none;
        margin-top: 50px;
    }

.home_topnav_mobile {
        width: 218px;
        padding: 3px;
        font-size: 27px;
        display: block;
        font-family: 'league-gothic.regular', Arial, sans-serif;
        text-decoration: none;
        color: white;
         text-align: center;
        border-top: 1px solid #513d58;
        border-bottom: 2px solid #36283e;
    }

.wrap_topnav_mobile {
        overflow: hidden;
        position: absolute;
        margin: 0 128px;
        width: auto;
        display: block;
        background: rgba(68, 54, 74, 0.8);
        
        
        -moz-border-radius: 10px; /* Firefox 1-3.6 */
        -webkit-border-radius: 10px;/* Safari 3-4, iOS 1-3.2, Android 1.6- */
        border-radius: 10px;/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    }

.home_topnav_mobile:hover {
        border-bottom: 2px solid #edbfff;
        background: rgba(68, 54, 74, 0.9);
    }

.wrap_topnav_mobile:hover ul {
        display: block;
    }

.topnav_mobile {
        display: none;
    }

.topnav_mobile {
        list-style: none;
        text-align: center;
    }

.topnav_mobile li {
        border-top: 1px solid #513d58;
        border-bottom: 2px solid #36283e;
        padding: 3px 50px;
    }

.topnav_mobile li:hover {
        border-bottom: 2px solid #edbfff;
        background: rgba(68, 54, 74, 0.9);
    }

.topnav_mobile a {
        font-family: 'league-gothic.regular', Arial, sans-serif;
        font-size: 27px;
        color: white;
        text-decoration: none;
    }

.five img  {
        margin: 20px 0 0 75px;
    }

.five .margin_mobile {
        margin: 0 -20px 0 66px;
    }
}

@media (max-width: 500px) {

.wrapper {
        min-width: 340px;
    }

.container {
        width: 320px;
        margin: 0 auto;
    }

.six {
        display: none;
    }

.footernav {
        display: none;
    }

.discription_text_tablet {
        display: none;
    }

.sliders_photo {
        display: none;
    }

.discription_text_mobilefirst {
        display: block;
        font-size: 20px;
        padding-left: 25px;
        color: #454545;
    }

.center_title {
        display: none;
    }

.center_title_mobilefirst {
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: bold;
        color: #454545;
        font-size: 20px;
        padding-left: 65px;
    }

    
.center_text_tablet {
        display: none;
    }

.center_text_mobilefirst {
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        padding-left: 65px;
        color: #454545;
    }

.five img  {
        margin: 45px 0 10px 75px;
    }

.five .margin_mobilefirst {
        margin: 0 0 0 40px;
    }

    
.center {
        width: 283px;
        margin: 0 auto;
    }

a.center_read_tablet {
        font-size: 12px;
    }

.wrap_topnav_mobile {
        display: none;
    }

.sliders_info {
        width: 224px;
        margin: 0 auto;
        float: none;
        margin-top: 100px;
    }

.sliderswrap {
        background: none;
    }

.home_mobilefirst {
        width: 60px;
        display: block;
        text-decoration: none;
        color: white;
        font-family: 'league-gothic.regular', Arial, sans-serif;
        font-size: 26px;
        border-bottom: 3px solid transparent;
        margin: 0 40px;
        padding: 4px 10px;
    }

.home_mobilefirst:hover {
        border-bottom: 3px solid #edbfff;
    }

.topnav_mobilefirst {
        display: none;
    }

.topnav_mobilefirst li {
        list-style: none;
    }

.wrap_topnav_mobilefirst {
        margin: 0 80px;
        position: absolute;
        width: auto;
        display: block;
        background: rgba(68, 54, 74, 0.8);
        border-radius: 10px;
    }

.wrap_topnav_mobilefirst:hover ul {
        display: block;
    }

.topnav_mobilefirst li a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: white;
        font-family: 'league-gothic.regular', Arial, sans-serif;
        font-size: 26px;
        border-bottom: 3px solid transparent;
        margin: 0 auto;
         padding: 4px 10px;
    }
    

.topnav_mobilefirst a:hover {
        border-bottom: 3px solid #edbfff;
        font-size: 20px;
    }

.logo {
        margin-bottom: 20px;
    }

.footerwrapp {
        padding: 10px 0px 75px;
    }

footer {
        margin: 0;
    }

    
.footer_designed {
        display: block;
        margin: 0 auto;
        width: 144px;
    }

.two {
        padding: 125px 0px;
    }
}

@media (max-width: 320px) {

.sliders_info_title,
.sliders_info_title_tablet {
       display: none;
}

.five img {
       padding-right: 0;
}
}


    

   






